<!doctype html>
<html>
    <head>

        <title> OSSprac 2조 OPA Homework1 </title>
        <style>
            p {color:darkslateblue}
        </style>

    </head>

   <body>
   간식신청페이지
      <form action = "{{ url_for ('check') }}" method = "POST">
         <p>이름 <input type = "text" name = "Name" /></p>
         <p>학번 <input type = "text" name = "StudentNumber" /></p>
         <p>학과 <input type = "text" name = "Major" /></p>
         <p>희망 수령 시간
             <label><input type="radio" name="Time" value="10:00~12:00" />Male</label>
             <label><input type="radio" name="Time" value="13:00~15:00" />Female</label>
             <label><input type="radio" name="Time" value="15:00~17:00" />Female</label>
             <label><input type="radio" name="Time" value="17:00~19:00" />Female</label>

         </p>
         <p>원하는 간식</p>
            <label><input type="radio" name="Snack" value="참치회" />Male</label>
            <label><input type="radio" name="Snack" value="푸아그라" />Female</label>
            <label><input type="radio" name="Snack" value="캐비어" />Female</label>
            <label><input type="radio" name="Snack" value="와규" />Female</label>
         <p><input type = "submit" value = "CHECK" /></p>

      </form>

   </body>
</html>
