<!doctype html>
<html>
    <head>

        <title> OSSprac 2조 OPA Homework2 </title>
        <style>
            p {color:darkslateblue}
        </style>

    </head>

   <body>
   간식신청페이지
      <form action = "/check" method = "POST" id="app-form">
         <p>이름 <input type = "text" name = "Name" /></p>
         <p>학번 <input type = "text" name = "StudentNumber" /></p>
         <p>학과 <input type = "text" name = "Major" /></p>
         <p>희망 수령 시간
             <label><input type="radio" name="Time" value="10:00~12:00" />10:00~12:00</label>
             <label><input type="radio" name="Time" value="13:00~15:00" />13:00~15:00</label>
             <label><input type="radio" name="Time" value="15:00~17:00" />15:00~17:00</label>
             <label><input type="radio" name="Time" value="17:00~19:00" />17:00~19:00</label>

         </p>
         <p>원하는 간식<select name="menu" form="app-form">
             <option value="참치회"> 참치회 </option>
             <option value="푸아그라"> 푸아그라 </option>
             <option value="캐비어"> 캐비어 </option>
             <option value="와규"> 와규 </option>

             </select><br>

         <p><input type = "submit" value = "CHECK" /></p>

      </form>

   </body>
</html>
