<!doctype html>
<html>
    <head>
        
        <title> OSSprac 2조 OPA homework2</title>
        <style>
        img{
            position : absolute;
            left : 300px;
            top : 100px;
        }
        </style>

    </head>
    
    <body>
        <img src = "D_logo.png"  boader = "0" alt "동국로고" title = "동국화이팅">

        <h1> {{Major}}과 {{StudentNumber}} {{Name}}님, <br> 
            {{menu}}로 {{Time}}에 신청이 완료되었습니다! <br>
            시간에 맞춰 과실을 방문해주세요. </h1> 

        <input type="button" value="로그아웃!!!" onclick="location.href='main.html'"/>
    </body>

</html>